{% extends 'base.html.twig' %}

{% block title %}Modifier un résultat{% endblock %}

{% block body %}
    <h1>Modifier un résultat</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_resultats_index') }}">Retour à la liste des résultats</a>
{% endblock %}
