# Exemple de fichier .env pour votre projet Symfony

APP_ENV=prod
APP_DEBUG=false

# Remplacez les valeurs ci-dessous par celles de votre base de données Render
DATABASE_URL="mysql://user:password@host:3306/dbname?serverVersion=8.0.31"
