{% extends 'base.html.twig' %}

{% block title %}Match du Jour - Test Minimaliste{% endblock %}

{% block body %}
<h1>Test minimaliste de la page Match du Jour</h1>
<p>Si vous voyez ce message, le template Twig est correctement interprété.</p>
{% endblock %}
